/**
 * custom-select bem module
 */
@use 'sass:color';

$custom-select-input-bg: var(--custom-select-input-bg, white) !default;
$custom-select-selected-bg: var(--custom-select-selected-bg, lightgrey) !default;
$custom-select-padding-top: var(--custom-select-padding-top, .4em) !default;
$custom-select-padding-right: var(--custom-select-padding-right, 1em) !default;
$custom-select-padding-bottom: var(--custom-select-padding-bottom, .3em) !default;
$custom-select-padding-left: var(--custom-select-padding-left, 1em) !default;
$custom-select-label-padding-top: $custom-select-padding-top !default;
$custom-select-label-padding-right: $custom-select-padding-right !default;
$custom-select-label-padding-bottom: $custom-select-padding-bottom !default;
$custom-select-label-padding-left: $custom-select-padding-left !default;
$custom-select-option-padding-top: $custom-select-padding-top !default;
$custom-select-option-padding-right: $custom-select-padding-right !default;
$custom-select-option-padding-bottom: $custom-select-padding-bottom !default;
$custom-select-option-padding-left: $custom-select-padding-left !default;
$custom-select-option-group-inset: 1em !default;
$custom-select-action-color: var(--custom-select-action-color, black) !default;
$custom-select-action-bg: var(--custom-select-action-bg, lightgrey) !default;
$custom-select-border: 1px solid black !default;

.custom-select {
    box-sizing: border-box;
    position: relative;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    &-original {
        position: absolute;
        left: -9999em;
    }

    &--is-open {
        z-index: 20;
    }

    &__label {
        display: flex;
        align-items: center;
        padding: $custom-select-label-padding-top $custom-select-label-padding-right $custom-select-label-padding-bottom $custom-select-label-padding-left;
        border: $custom-select-border;
    }

    &__label-icon {
        margin-left: auto;
        transform: rotate(90deg);
    }

    :where(&--is-open) &__label-icon {
        transform: rotate(270deg);
    }

    &__options {
        display: none;
        overflow: auto;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        margin: 0;
        border: $custom-select-border;
        background-color: $custom-select-input-bg;
    }

    &__options-inner {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    :where(&--is-open) &__options {
        display: block;
    }

    &__option,
    &__group-label {
        padding: $custom-select-option-padding-top $custom-select-option-padding-right $custom-select-padding-bottom $custom-select-padding-left;
    }

    &__option {
        cursor: pointer;
    }

    &__group-label {
        display: block;
        font-weight: bolder;
    }

    &__option[aria-selected='true'],
    &__option:focus {
        background-color: $custom-select-selected-bg;
    }

    &__option:hover,
    &__option:focus {
        color: $custom-select-action-color;
        background-color: $custom-select-action-bg;
    }

    :where(&__group) &__options-inner {
        margin-left: $custom-select-option-group-inset;
    }
}
